body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
}

/* RAMKA */
.frame {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 5;
}

.frame::before,
.frame::after {
    content: "";
    position: absolute;
    inset: 12px;
    border-radius: 30px;
    background:
        repeating-linear-gradient(
            45deg,
            rgba(255,182,193,0.35) 0px,
            rgba(255,182,193,0.35) 6px,
            transparent 6px,
            transparent 14px
        );
    animation: vineMove 20s linear infinite;
}

/* kwiatki */
.frame::after {
    background:
        radial-gradient(circle at 10% 10%, #ffd6e7 0 6px, transparent 7px),
        radial-gradient(circle at 80% 20%, #ffc0d9 0 6px, transparent 7px),
        radial-gradient(circle at 20% 85%, #ffd6e7 0 6px, transparent 7px),
        radial-gradient(circle at 90% 90%, #ffc0d9 0 6px, transparent 7px);
    animation: flowersFloat 12s ease-in-out infinite alternate;
}

@keyframes vineMove {
    from { background-position: 0 0; }
    to { background-position: 300px 300px; }
}

@keyframes flowersFloat {
    from { transform: scale(1); opacity: 0.7; }
    to { transform: scale(1.05); opacity: 1; }
}


/* FILARY */
.pillar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 80px;
    background:
        repeating-linear-gradient(
            135deg,
            rgba(255,183,197,0.5) 0px,
            rgba(255,183,197,0.5) 8px,
            transparent 8px,
            transparent 18px
        );
    animation: vineSide 12s linear infinite;
    pointer-events: none;
}

.pillar.left { left: 0; }
.pillar.right { right: 0; }

@keyframes vineSide {
    from { background-position: 0 0; }
    to { background-position: 0 400px; }
}


.pillar.left { left: 0; }
.pillar.right { right: 0; }

/* EKRANY */
.screen {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}

.screen.active {
    opacity: 1;
    pointer-events: auto;
}

/* BLOK */
.container {
    text-align: center;
    background: rgba(255,255,255,0.25);
    padding: 50px;
    border-radius: 30px;
    color: white;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    z-index: 10;
}

button {
    margin-top: 25px;
    padding: 12px 20px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    background: #ff355e;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

/* SERDUSZKA + GWIAZDKI */
.heart, .star {
    position: fixed;
    top: -50px;
    animation: fall linear forwards;
    pointer-events: none;
}

.heart { font-size: 26px; }
.star { font-size: 22px; }

@keyframes fall {
    to {
        transform: translateY(110vh);
        opacity: 0;
    }
}
