body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
}

/* EKRANY */
.screen {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}

.screen.active {
    opacity: 1;
    pointer-events: auto;
}

/* BLOK */
.container {
    text-align: center;
    background: rgba(255,255,255,0.25);
    padding: 45px;
    border-radius: 30px;
    color: white;
    box-shadow: 0 0 35px rgba(0,0,0,0.4);
    z-index: 10;
    max-width: 320px;
}

button {
    margin-top: 25px;
    padding: 12px 20px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    background: #ff355e;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover { transform: scale(1.1); }

/* SERCA + GWIAZDY + PŁATKI */
.heart, .star, .petal {
    position: fixed;
    top: -50px;
    animation: fall linear forwards;
    pointer-events: none;
}

.heart { font-size: 26px; }
.star { font-size: 22px; }
.petal { font-size: 20px; }

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}

/* PŁYWAJĄCY BLOK */
.floating {
    animation: float 3s ease-in-out infinite alternate;
}

@keyframes float {
    from { transform: translateY(0); }
    to { transform: translateY(15px); }
}

/* KOTEK */
.cat {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    opacity: 0;
    pointer-events: none;
    transition: 3s;
    z-index: 100;
}

.cat.active {
    opacity: 1;
    font-size: 200vh;
}
